<!-- Calendar Scripts -->
<script>
    $('select').each(function(){
        var $this = $(this), numberOfOptions = $(this).children('option').length;
        $this.addClass('select-hidden'); 
        $this.wrap('<div class="select"></div>');
        $this.after('<div class="select-styled"></div>');

        var $styledSelect = $this.next('div.select-styled');
        $styledSelect.text($this.children('option').eq(0).text());
    
        var $list = $('<ul ></ul>', {
            'class': 'select-options'
        }).insertAfter($styledSelect);
    
        for (var i = 0; i < numberOfOptions; i++) {
            $('<li ></li>', {
                text: $this.children('option').eq(i).text(),
                rel: $this.children('option').eq(i).val()
            }).appendTo($list);
        }
    
        var $listItems = $list.children('li');
    
        $styledSelect.click(function(e) {
            e.stopPropagation();
            $('div.select-styled.active').each(function(){
                $(this).removeClass('active').next('ul.select-options').hide();
            });
            $(this).toggleClass('active').next('ul.select-options').toggle();
        });
    
        $listItems.click(function(e) {
            e.stopPropagation();
            $styledSelect.text($(this).text()).removeClass('active');
            $this.val($(this).attr('rel'));
            $list.hide();
            //console.log($this.val());
        });
    
        $(document).click(function() {
            $styledSelect.removeClass('active');
            $list.hide();
        });

    }); 
    
    $("#search1").click(function(){
        if ($("#tripend").val() == $("#tripstart").val()){
            alert("출발 도시와 도착 도시가 같으면 검색이 불가능합니다.")
            return false
        }

        if (($("#tripstart").val() == "GMP" && $("#tripend").val() == "ICN") ||($("#tripstart").val() == "ICN" && $("#tripend").val() == "GMP")){
            alert("출발 도시와 도착 도시가 같으면 검색이 불가능합니다.")
            return false
        }
        
        if ($('#viaSelect').val()=="return"){
            $("#formSelect").attr("action", "/result2")
            $("#formSelect").submit()
        } else {
            $("#formSelect").submit()
        }
    })
    
    
</script>
