<form action="/result" method="GET" name="formSelect" id="formSelect">
    <div class="choi">
        <div class="jb-wrap"></div>
            <div class="jb-image">
                <img src="https://zoeticket.s3.us-east-2.amazonaws.com/public/images/Poto/fly.jpg" 
                    style="height: 500px; width: 1620px; position: flex; top: 10px">
                <div class="jb-text">
                    <div class="jb-text-table">
                        <div class="jb-text-table-row">
                            <div class="jb-text-table-cell">
                                <div class="ppody">
                                    <div class="pody">
                                        <!-- Departure Select Box -->
                                        <select id="viaSelect" name="viaSelect">
                                            <option value="oneway">편도</option>
                                            <option value="return">왕복</option>
                                        </select>
                                        <select id="tripstart" name="tripstart">
                                            <option value="hide">-- 출발지 --</option>
                                            <option value="ICN">서울 -인천</option>
                                            <option value="GMP">김포</option>
                                            <option value="PUS">부산</option>
                                            <option value="KIX">오사카</option>
                                            <option value="HKG">홍콩</option>
                                            <option value="KBP">우크라이나 -키예프</option>
                                            <option value="HEL">핀란드 -헬싱키</option>
                                        </select> 
                                        <!-- Arrive Select Box -->
                                        <select id="tripend" name="tripend">
                                            <option value="hide">-- 도착지 --</option>
                                            <option value="ICN">서울 -인천</option>
                                            <option value="GMP">김포</option>
                                            <option value="PUS">부산</option>
                                            <option value="KIX">오사카</option>
                                            <option value="HKG">홍콩</option>
                                            <option value="KBP">우크라이나 -키예프</option>
                                            <option value="HEL">핀란드 -헬싱키</option>
                                        </select>
                                        <!-- Calendar -->
                                        <input class="dar" id="date-range0" value="--여행 날짜--" name="tripdate" style="padding-top: 0px;">
                                        <!-- Search Button -->
                                        <button class="search" value="search" id="search1" name="search1">Search</button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="item">
    <div class="item-h">
        <div class="item-h-c">
            <span>추천상품</span>
            <div class="item-i-i">
                <img src="https://zoeticket.s3.us-east-2.amazonaws.com/public/images/Poto/ukr.jpg"
                    style="width:506.007px; height: 348.993px;">
                <div class="ukr">
                    <span style="font-size: 30px; color: white;">우크라이나</span>
                    <h6 style="color: white; position: relative; top: 9px;">, 키예프</h6>
                </div>                    
                <img src="https://zoeticket.s3.us-east-2.amazonaws.com/public/images/Poto/hk.jpg" 
                    style="height:348.993px; width: 53;
                    position: relative; bottom: 349px; left: 530px;">
                <div class="hk">
                    <span style="font-size: 30px; color: white;">홍콩</span>
                    <h6 style="color: white; position: relative; top: 9px;">, 빅토리아 파크</h6>
                </div>
                <img src="https://zoeticket.s3.us-east-2.amazonaws.com/public/images/Poto/osa.jpg" 
                    style="height:348.993px;  width:506.007px;
                    position: relative; bottom: 785px; left: 1075px;">
                <div class="osk">
                    <span style="font-size: 30px; color: white;">일본</span>
                    <h6 style="color: white; position: relative; top: 9px;">, 오사카</h6>
                </div>
            </div>
        </div>
    </div>
</div>
