<div class="subbMenu" >
    <div class="iinner">
        <a href="/" class="subNavBtn" style="color: white;">Home</a>
        <a href="/login" class="subNavBtn" style="color: white;">Search</a> 
    </div>
</div>